$pink: #ffb3b3;

body,
html {
  height: 100vh;
  box-sizing: border-box;
}

#app {
  height: 100vh;
}

.main-container {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100vh;
}

.main-content {
  position: relative;
  box-sizing: content-box;
  background: $pink;
  height: 100vh;
}

.sidenav {
  box-sizing: content-box;
  padding: 10px;
  min-width: 250px;
  height: 100vh;
  background: #fefefe;
  box-shadow: -1px 0px 5px 0px rgba(50, 50, 50, 0.5);
  border: 1x solid teal;
}

@import '~bulma';
