@import '~bulma';
@import '~react-day-picker/lib/style';
$pink: #ffb3b3;
$teal: #00d1b2;

* {
  box-sizing: border-box;
}

body,
html {
  // REVIEW: nice 100vh
  height: 100vh;
  box-sizing: border-box;
}

body {
  overflow: hidden;
}

#app {
  height: 100vh;
}

.DayPickerInput-Overlay {
  z-index: 99;
}

.menu-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  // justify-content: space-between;
}

.sidenav-mid-container {
  overflow: scroll;
  flex-grow: 1;
  margin-top: 1.5rem;
}

.origin-card {
  flex-grow: 1;
}

.list-item {
  display: flex;
  justify-content: space-between;
}

.trip-list {
  margin-top: 1.5rem;
}

.floating-button {
  position: fixed;
  top: 10px;
  right: 10px;
}

.main-container {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100vh;
}

.main-content {
  padding-left: 0;
  position: relative;
  box-sizing: content-box;
  background: transparent;
  height: 100vh;
}

.trip-menu {
  // box-sizing: content-box;
  padding-right: 0;
  padding: 20px;
  width: 400px;
  height: 100vh;
  background: #fefefe;
  box-shadow: -1px 0px 5px 0px rgba(50, 50, 50, 0.5);
  border: 1x solid teal;
}

.sidenav {
  // box-sizing: content-box;
  padding-right: 0;
  padding: 20px;
  width: 400px;
  height: 100vh;
  background: #fefefe;
  box-shadow: -1px 0px 5px 0px rgba(50, 50, 50, 0.5);
  border: 1x solid teal;
}
