body,
html {
  height: 100vh;
  box-sizing: border-box;
}

#app {
  height: 100vh;
}

.main-container {
  height: 100vh;
  background: red;
}

.main-content {
  height: 100vh;
}

.sidenav {
  min-width: 250px;
  height: 100vh;
  background: #fefefe;
  box-shadow: -1px 0px 5px 0px rgba(50, 50, 50, 0.5);
}

@import '~bulma';
