.frame {
  fill: none;
  /*stroke: #000;*/
  stroke: steelblue;
}

.axis text {
  font: 10px sans-serif;
}

/*.axis line,
.axis circle {
  fill: none;
  stroke: steelblue;
  stroke-dasharray: 1,4;
}*/

.axis :last-of-type circle {
  stroke: #333;
  stroke-dasharray: none;
}
/*
.line {
  fill: none;
  stroke: red;
  stroke-width: 1.5px;
}*/

.purchase {
  margin-top: 1em;
}